<#
    Session["ResourceFile"] = "TdServerStrings.resx";
    Session["LoggingDefinitionsClass"] = "Diagnostics.Internal.TdServerLoggingDefinitions";
#>
<#@ include file="..\..\..\tools\Resources.tt" #>